---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    
    <title>Show Season</title>
    <link rel="stylesheet" type="text/css" href="season.css"> 
  </head>
  <body>
  
    {% include header.html %}

    <div id="season_table" class="Table">
      <div class="Heading">
        <div class="Cell">
          <div>Stage</div>
        </div>
        <div class="Cell">
          <div>Week</div>
        </div>
        <div class="Cell">
          <div>Day</div>
        </div>
        <div class="Cell">
          <div>Match</div>
        </div>
        <div class="Cell">
          <div>Game</div>
        </div>
        <div class="Cell">
          <div>Map 1</div>
        </div>
        <div class="Cell">
          <div>Map 2</div>
        </div>
        <div class="Cell">
          <div>Map 3</div>
        </div>
        <div class="Cell">
          <div>Map 4</div>
        </div>
        <div class="Cell">
          <div>Map 5</div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="jquery-3.3.1.js"></script>
    <script type="text/javascript" src="season.js"></script>
    
    {% include footer.html %}
  
</body>
</html>
